@charset "UTF-8";
/**
 Variáveis
 Pense em variáveis como uma maneira de armazenar informações que você deseja 
 reutilizar ao longo de sua folha de estilo.
 Você pode armazenar coisas como cores, pilhas de fontes ou qualquer valor 
 CSS que você acha que vai querer reutilizar.
 Sass usa o símbolo $ para fazer algo uma variável.
*/
section {
  max-width: 600px;
  margin: 0 auto;
}

/** 
    Nesting - ou Alinhamento
    Ao escrever HTML, você provavelmente notou que ele tem uma hierarquia clara aninhada e visual. 
    CSS, por outro lado, não.
    O Sass permitirá que você aninhará seus seletores CSS de uma maneira que segue a mesma hierarquia
    visual do seu HTML.Esteja ciente de que regras excessivamente aninhadas resultarão em CSS 
    superqualificados que podem ser difíceis de manter e geralmente é considerado má prática.

    Boa prática utilizar no máximo 3 seletores alinhados

   Parent - O seletor pai, &, é um seletor especial inventado por Sass que é usado em seletores 
   aninhados para se referir ao seletor externo. Torna possível reutilizar o seletor externo 
   de maneiras mais complexas, como adicionar uma pseudoclasse ou adicionar um seletor 
   antes do pai.
**/
.modal h1 {
  color: pink;
  font-family: monospace;
  margin-bottom: 20px;
}
.modal p {
  font-size: 1.2em;
  line-height: 1.4;
  max-width: 400px;
  font-family: monospace;
}
.modal a {
  display: block;
  max-width: 120px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background: pink;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
}

ul {
  text-align: center;
}
ul li {
  display: inline-block;
  list-style: none;
}
ul li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  color: red;
}
ul li a:hover {
  color: blue;
}

/**
  Mixins
  Algumas coisas no CSS são um pouco tediosas de escrever, 
  especialmente com CSS3 e os muitos prefixos de fornecedores que existem.
  Uma Mixins permite que você faça grupos de declarações de CSS que você 
  deseja reutilizar em todo o seu site.Ajuda a manter seu Sass muito DRY. 
  Você pode até mesmo passar em valores para tornar sua mistura mais flexível. 

  Ajuda com prefixos
  Podemos utilizar Mixin dentro de Mixin
  Usamos o include para adicionar 
  Podemos passar argumentos dentro, também colocar valores padrões

  @Content
  Além de receber argumentos, um mixin pode receber um bloco inteiro de estilos, conhecido como bloco de conteúdo. Um mixin pode declarar que recebe um bloco de conteúdo incluindo o @content at-rule em seu corpo. O bloco de conteúdo é passado usando chaves como qualquer outro bloco em Sass, e é injetado no lugar da regra @content.
**/
.modal h1 {
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}
.modal h1::after {
  content: "";
  display: block;
  height: 4px;
  background-color: pink;
  width: 200px;
}
@media (max-width: 600px) {
  .modal h1 {
    color: red;
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
