/**
  Usar o @extend permite compartilhar um conjunto de propriedades CSS de um seletor para outro.
  Boa prática sempre utilizar o extend quando tiver somente um seletor no projeto
**/

.btn {
  padding: 20px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-erro {
  @extend .btn;
  color: red;
  border: 1px solid red;
}

.btn-sucesso {
  @extend .btn;
  color: green;
  border: 1px solid green;
}

/**
  Placeholder - Uma classe placeholder é um tipo especial de classe que só imprime quando é estendida e pode ajudar a manter seu CSS compilado limpo e completo.
**/

// Este CSS não será compilado porque %equal-heights nunca é estendido.
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

// Este CSS será compilado porque %message-shared é estendido.
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}
